NEXT_PUBLIC_COGNITO_DOMAIN=https://cognito-idp.ap-southeast-2.amazonaws.com/ap-southeast-2_fLZy6DLvd
NEXT_PUBLIC_COGNITO_CLIENT_ID=59aqkrumfoudn6n8ovl7h0e076
NEXT_PUBLIC_COGNITO_REDIRECT_URI=http://localhost:3000/callback
API_URL=http://localhost:4500
